body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 120px 0;
}

.my--gray-section {
    background-color: #f3f5f9;
}

.my--blue-section {
    background-color: #031b4e;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-size: cover;
}

h1 {
    font-size: 64px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #031b4e;
}

a {
    color: #0069ff;
}

/* navbar */

.navbar-default {
    background-color: white;
}

.my--logo-img {
    transform: translateY(-10px);
}

.navbar-default .navbar-nav>li>a {
    padding: 15px 5px;
    color: #031b4e;
}

#my--sign-up {
    color: #0069ff;
    border: 1px solid #0069ff;
    border-radius: 8px;
    font-weight: bold;
}

/* banner titolo */

.my--title-section {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-color: rgb(2, 72, 255);
    padding-top: 190px;
}

.my--title-banner {
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.my--title-banner p {
    color: white;
    opacity: .8;
    font-size: 24px;
}

.jumbotron {
    background-color: white;
}

.my--btn-blue {
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 48px;
}

.my--btn-white {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    margin-top: 10px;
}

#my--terms {
    font-size: 14px;
    padding-top: 10px;
}

/* business solutions */

.my--business-solutions {
    padding: 64px 0;
}

.my--business-solutions h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .4;
}

.my--business-solutions a {
    font-weight: bold;
}

.my--business-solutions li {
    max-width: calc(100% / 6);
    padding: 5px;
    vertical-align: middle;
}

.my--business-solutions li img {
    max-height: 120px;
}

@media screen and (max-width: 991px) {
    .my--business-solutions li {
        max-width: calc(100% / 2);
        padding: 0;
    }
}

/* deploy scale */

.my--deploy-scale p:first-child {
    font-size: 20px;
    color: rgba(3,27,78,.7);
}

.my--deploy-scale p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}

.my--deploy-scale li:first-child {
    border-left: 2px solid #0069ff;
    color: #031b4e;
}

.my--deploy-scale li {
    border-left: 1px solid rgba(3,27,78,.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    color: rgba(3,27,78,.5);
}

.my--deploy-scale .fas {
    font-size: 40px;
    color: #0069FF;
}

.my--deploy-scale ul,
.my--deploy-scale .fas {
    margin-top: 40px;
}

/* designedfor-section */

.my--designed-for p:first-child {
    font-size: 20px;
    color: rgba(3,27,78,.7);
}

.my--designed-for h2 {
    margin-bottom: 20px;
}

#my--designed-aria-1 {
    margin-bottom: 60px;
}

#my--designed-aria-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my--designed-for .fas {
    padding-left: 5px;
    padding-right: 5px;
    color: #0069FF;
}

.my--designed-for .far {
    padding-left: 5px;
    padding-right: 5px;
    color: #0069FF;
}


/* built for */

.built-for-title {
    font-size: 18px;
    font-weight: bold;
    color: #031b4e;
}

.built-for-text {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}

.my--built-for h2 {
    margin-bottom: 50px;
}

.my--built-for .fas {
    color: #0069FF;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my--built-for a {
    padding-bottom: 20px;
}

/* service world */

.my--service-world h2 {
    color: white;
    margin-bottom: 40px;
}

.table {
    margin-bottom: 40px;
}

.table>tbody>tr>td {
    color: white;
    opacity: .6;
    font-size: 13px;
    border-top: none;
    border-bottom: 1px solid white;
}

.my--title-td {
    opacity: 1 !important;
    font-weight: bold;
}

.my--td-link {
    opacity: 1;
    color: #00d7d2;
    font-weight: bold;
}

/* development love */

.my--development-love h2 {
    padding-bottom: 40px;
}

.my--development-love .jumbotron img {
    padding-bottom: 20px;
}

.my--development-love .jumbotron p {
    color: rgba(3,27,78,.7);
}

#my--cite {
    font-weight: bold;
    font-size: 16px;
}

#my--cite span {
    font-weight: normal;
}

.my--development-love .fas {
    padding-left: 5px;
    padding-right: 5px;
    color: #0069FF;
}

.my--development-love .far {
    padding-left: 5px;
    padding-right: 5px;
    color: #0069FF;
}

/* footer banner */

.my--footer-banner {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-color: rgb(2, 72, 255);
    padding: 64px 0;
}

.my--footer-banner h2 {
    font-size: 30px;
    color: white;
}

.my--btn-white-2 {
    background-color: white;
    color: #0069FF;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

/* footer */

footer {
    background-color: #010e28;
    padding: 64px 0;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0;
}

footer .fab {
    font-size: 40px;
    color: white;
    padding: 5px 0 10px;
}

footer dt {
    color: white;
    font-weight: bold;
    padding: 5px 0;
}

footer dd {
    padding: 5px 0;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0;
}
