body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 120px 0;
}

.my--gray-section {
    background-color: #f3f5f9;
}

.my--white-section {

}

.my--blue-section {
    background-color: #031b4e;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-size: cover;
}

h1 {
    font-size: 64px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: #031b4e;
}
/* navbar */

.navbar-default {
    background-color: white;
}

.my--logo-img {
    transform: translateY(-10px);
}

a {
    color: #0069ff;
}

/* banner titolo */

.my--title-section {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-color: rgb(2, 72, 255);
    padding-top: 190px;
}

.my--title-banner {
    padding-top: 70px;
    padding-right: 50px;
}

.my--title-banner p {
    color: white;
    opacity: .8;
    font-size: 24px;
}

.jumbotron {
    background-color: white;
}

.my--btn-blue {
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 48px;
}

.my--btn-white {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    margin-top: 10px;
}

/* business solutions */

.my--business-solutions {
    padding: 64px 0;
}

.my--business-solutions h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .4;
}

.my--business-solutions a {
    font-weight: bold;
}


/* deploy scale */

.my--deploy-scale p:first-child {
    font-size: 20px;
    color: rgba(3,27,78,.7);
}

.my--deploy-scale p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}

/* designedfor-section */

.my--designed-for p:first-child {
    font-size: 20px;
    color: rgba(3,27,78,.7);
}

/* built for */

.built-for-title {
    font-size: 18px;
    font-weight: bold;
    color: #031b4e;
}

.built-for-text {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}

/* service world */

.my--service-world h2 {
    color: white;
}

/* footer banner */

.my--footer-banner {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-color: rgb(2, 72, 255);
    padding: 64px 0;
}

.my--footer-banner h2 {
    font-size: 30px;
    color: white;
}

/* footer */

footer {
    background-color: #031b4e;
    padding: 64px 0;
}
